<div class="main">
    <mat-grid-list cols="2" >
        <img class="large-blob" src="../../assets/circle.svg" alt="blob-large">
        <mat-grid-tile>
            <img class="small-blob" src="../../assets//blob-small.svg" alt="blob-small">
            <img class="super-simple-text" src="../../assets/We make it Super Sim.svg" alt="We make it super simple">
            <img class="collect-video" src="../../assets/collect_img-video.png" alt="collect video image">
            <img class="accounting-dots" src="../../assets/accounting_dots.svg" alt="accounting dots">
        </mat-grid-tile>
        <mat-grid-tile>
            <app-calculator></app-calculator>
            <img class="calculator-dots" src="../../assets/accounting_dots.svg" alt="calculator-dots">
        </mat-grid-tile>
    </mat-grid-list>
</div>

<div class="second-content flex">
    <div class="parent-left flex flex-jc-sb">
        <div class="left">
            <app-cards></app-cards>
            <app-cards></app-cards>
            <app-cards></app-cards>
        </div>
        <div class="right">
            <app-cards></app-cards>
            <app-cards></app-cards>
        </div>
    </div>
    <div class="parent-right">
       <div class="images">
           <img class="boost" src="../../assets/Boost your business.svg" alt="">
           <img src="../../assets/Line 3.svg" alt="" class="line">
           <p>Get your hands on a term loan that’s <br> crafted for your business</p>

           <button>Get an Open Account</button>
       </div>
    </div>
</div>